@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.bgImg {
  background-image: url('/Images/sub_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.profilebg {
  background-image: url('/Images/profilebanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.divition {
  height: 2px;
  background: radial-gradient(circle, rgb(211, 211, 211) 0%, rgba(209, 211, 213, 0.178) 68%);
  border-radius: 90%;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-color: #ecd49a #0000;
  animation: spinner-e04l1k 0.8s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ffc047 #0000;
  animation: inherit;
  animation-duration: 0.4s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 11.6px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}